@model ReportCoreV2.Models.ViewModel.DataPointsForGraphsViewModel
<div id="@Html.Raw(Model.GuidID)">


</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery/dist/Chart.min.js"></script>


<script>
    var result = @Html.Raw(Model.DataPointsAsStringForUI);
    var type = @Html.Raw(Model.DataLabelsAsStringForUI);
    var canvasElement = document.createElement("canvas");
    var divElement = document.createElement("div");

    divElement.appendChild(canvasElement);
    $("#@Html.Raw(Model.GuidID)").append(divElement);

    var oilData = {
        labels: type,
        datasets: [
            {
                data: result,
                 backgroundColor: [
                     'rgba(255, 99, 132)',
                     'rgba(54, 162, 235)',
                     'rgba(255, 206, 86)',
                     'rgba(75, 192, 192)',
                     'rgba(153, 102, 255)',
                     'rgba(255, 159, 64)',
                     'rgba(255, 99, 122)',
                     'rgba(54, 162, 235)'
                ]
            }]
    };

    var pieChart = new Chart(canvasElement, {
        showTooltips: false,
        type: 'pie',
        data: oilData,
        options: {
            tooltips: {
                // Disable the on-canvas tooltip
                enabled: true,
            },
            legend: {
                display: false,
                position: 'top',
              
            },
        }
    });
</script>