
@model ReportCoreV2.Models.ViewModel.DataPointsForGraphsViewModel


<div id="@Html.Raw(Model.GuidID)">


</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery/dist/Chart.min.js"></script>

<script>
    
   var result = @Html.Raw(Model.DataPointsAsStringForUI);
   var projectname =@Html.Raw(Model.DataLabelsAsStringForUI);

    var canvasElement = document.createElement("canvas");
    var divElement = document.createElement("div");

    divElement.appendChild(canvasElement);
    $("#@Html.Raw(Model.GuidID)").append(divElement);
        //$("#drawHere").append(canvas);
    //    $("#drawHere").html(canvasElement);
    var myChart = new Chart(canvasElement, {
            showtooltip: false,
        type: 'line',
            data: {
                labels: projectname,
                datasets: [{
                    fill: false,
                    lineTension: 0,
                    data: result,
                     backgroundColor: [
                        'rgba(255, 99, 132, 0.2)'
                    ],
                      borderColor: [
                        'rgba(255, 99, 132, 1)'
                    ],
                       pointBackgroundColor: [
                        'rgba(255, 99, 132, 0.2)'
                    ],
                       pointBorderColor: [
                        'rgba(255, 99, 132, 1)'
                    ],

                }],


			},

        options: {
            tooltips: {
                // Disable the on-canvas tooltip
                enabled: true,
            },
            legend: {
                display: false,
        },



        scales: {
            y: {
                beginAtZero: true
            }

        }
		}
    });




</script>
